{% extends 'BackpackMate/layout.html' %}

{% block body %}
<section>
    <div id="intro" class="vh-100 d-flex align-items-end">
        <div class="container1">
            <p>Tamil Nadu Welcomes You</p>
        </div>
    </div>
</section>
<section style="background-color: rgb(252, 250, 248);">
    <div style="text-align:center; justify-content:center; padding-top:25px;">
        <h1 style="color:green;">Tamil Nadu- Mother of South India</h1>
    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; text-align:center;">
        <div style="flex: 1;">
            <h1 style="font-size:2em; text-align:center;">Welcome To The Mother Land of Dravidians</h1>
            <a style="text-align:justify;">Tamil Nadu literally means land of the Tamils and was formerly called Madras State and is the southernmost state of India. Chennai is the capital of the state which was earlier known as Madras. Tamil Nadu comes in South India and on its border</a>
            The state is bounded by the Bay of Bengal in the east, the Indian Ocean in the south and the states of Kerala, Karnataka and Andhra Pradesh in the west, northwest, and north respectively. The southernmost tip of Tamil Nadu is Cape Comorin or Kanyakumari and the long eastern coast is encircled by the Bay of Bengal.
            <a style="text-align:justify;">Tamil Nadu is the sixth most populous state in India, it is known for classical music and Bharat Natyam which marks the culture of India.  Tamil Nadu is said to be the land of temples because it has the most prestigious temple in India.</a>
        </div>
        <div style="flex: 1;">
            <img src="static/images/Tamil-Nadu_map.png" alt="map" style="max-width: 100%; height: auto;">
        </div>
    </div>
</section>


<section style="background-color: rgb(252, 250, 240); padding: 20px;">
    <div style="text-align: center; padding-top: 25px;">
        <h1 style="color: green;">Culture of Tamil Nadu</h1>
    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; text-align: justify;">
        <div style="flex: 1 1 100%; margin-bottom: 20px;">
            <a>Tamil Nadu has a rich cultural heritage that dates back thousands of years. The culture is a blend of traditional and modern practices. The state is renowned for its classical dance form, Bharatanatyam, and its classical music, Carnatic music. Tamil literature, which has a history spanning over two millennia, is one of the oldest in the world. The state also celebrates numerous festivals, such as Pongal, Tamil New Year, and Diwali, with great enthusiasm and fervor.</a>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/deepam.jpg" alt="Agriculture" style="width: 100%; height: auto; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; border-radius: 15px; transition: opacity 0.3s;">
                <a>Agriculture</a>
            </div>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/bharathanatyam.jpg" alt="Agriculture" style="width: 100%; height: auto; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; border-radius: 15px; transition: opacity 0.3s;">
                <a>Agriculture</a>
            </div>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/pongal.jpeg" alt="Agriculture" style="width: 100%; height: auto; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; border-radius: 15px; transition: opacity 0.3s;">
                <a>Agriculture</a>
            </div>
        </div>
    </div>
</section>


<section style="background-color: rgb(252, 250, 240); padding: 20px;">
    <div style="text-align: center; padding-top: 25px;">
        <h1 style="color: green;">Major Occupations in Tamil Nadu</h1>
    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; text-align: justify;">
        <div style="flex: 1 1 100%; margin-bottom: 20px;">
            <a>Tamil Nadu is known for its diverse economy. The major occupations include agriculture, manufacturing, and services. The state is one of the leading producers of agricultural products such as rice, sugarcane, and cotton. Tamil Nadu also has a strong industrial base with industries ranging from automobile, textile, leather, and software to biotechnology. The services sector, especially IT and tourism, also plays a significant role in the economy of Tamil Nadu.</a>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/agriculture.webp" alt="Agriculture" style="width: 100%; height: auto; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; border-radius: 15px; transition: opacity 0.3s;">
                <a>Agriculture</a>
            </div>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/cotton.webp" alt="Agriculture" style="width: 100%; height: auto; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; border-radius: 15px; transition: opacity 0.3s;">
                <a>Agriculture</a>
            </div>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/weaving.jpg" alt="Agriculture" style="width: 100%; height: auto; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; border-radius: 15px; transition: opacity 0.3s;">
                <a>Agriculture</a>
            </div>
        </div>
    </div>
</section>

<section style="background-color: rgb(252, 250, 240); padding: 20px;">
    <div style="text-align: center; padding-top: 25px;">
        <h1 style="color: green;">Special Attributes of Tamil Nadu</h1>
    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; text-align: justify;">
        <div style="flex: 1 1 100%; margin-bottom: 20px;">
            <a>Tamil Nadu is known for its Dravidian-style temples, which are characterized by their towering gopurams (gateway towers). The state is also famous for its silk sarees, particularly those from Kanchipuram, and its distinct cuisine, which includes dishes like dosa, idli, and sambar. Additionally, Tamil Nadu is a major hub for medical tourism, attracting patients from all over the world due to its high-quality healthcare services and affordable treatment costs.</a>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/cuisine.jpg" alt="Agriculture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; transition: opacity 0.3s; border-radius: 15px;">
                <p>Agriculture</p>
            </div>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/gopuram.jpg" alt="Agriculture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; transition: opacity 0.3s; border-radius: 15px;">
                <p>Agriculture</p>
            </div>
        </div>
        <div style="flex: 1 1 30%; margin: 10px; position: relative; overflow: hidden; border-radius: 15px; height: 300px;">
            <img src="static/images/hospital.gif" alt="Agriculture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 15px;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); color: white; display: flex; align-items: center; justify-content: center; opacity: 0; transition: opacity 0.3s; border-radius: 15px;">
                <p>Agriculture</p>
            </div>
        </div>

    </div>
</section>
{% if request.user.is_superuser %}
<section style="background-color: rgb(252, 250, 240); padding: 20px;">
    <div style="text-align: center; padding-top: 25px;">
        <h1 style="color: green;">Contribute</h1>
    </div>
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; text-align: center;">
        <div style="flex: 1 1 100%; margin-bottom: 20px;">
            <a>We're Open for your Contribution</a>
        </div>
    </div>
</section>

{% endif %}

<script>
        document.querySelectorAll('.container > div > img').forEach(img => {
        img.addEventListener('mouseover', function() {
            this.nextElementSibling.style.opacity = 1;
        });
        img.addEventListener('mouseout', function() {
            this.nextElementSibling.style.opacity = 0;
        });
    });
</script>
<style>
    .container div:hover div {
        opacity: 1;
    }
    .temple_card:hover .info {
        opacity: 1;
        z-index: 1;
    }
    .temple_card:hover .temple_image {
        filter: brightness(80%);
        z-index: -1;
    }
</style>
{% endblock %}
